/* BASE */

#header{

   padding-top: 20px;
    
}

.title {
    font-size: 2.5em;
    margin: 15px 0px 30px;
    text-align: right;
    float: right;
    color: #8f1b27;
}

h1{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

 h2, h3, h4{
     font-size: 1.5em;
}

.logo{
  width: 25%;
}

.author{
  background-image: url("ue.png");
  background-repeat: no-repeat;
  background-position: left top;
  margin-top: 20px;
  background-size: 35%;
  padding-top: 80px;
}

.date{
  text-align: right;
  float: right;
  margin-top: -60px;
}

h2{
  font-weight: bold;
  margin-top: 45px;
}

img{
    margin-top: 10px;
    margin-bottom: 10px;
}


@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}